<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <springProfile name="!test">
        <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>logstash:5000</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp />
                    <logLevel />
                    <loggerName />
                    <pattern>
                        <pattern>
                            {
                            "app": "${appName}"
                            }
                        </pattern>
                    </pattern>
                    <threadName />
                    <message />
                    <stackTrace />
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="logstash" />
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO" />
    </springProfile>

</configuration>